div {
    margin-top: 6mm;
    margin-bottom: 6mm;
    border: 5pt dotted burlywood;
}
p {
    text-align: justify;
    background-color: cornsilk;
    margin: 3mm;
    padding: 2mm 6mm 2mm 6mm;
    text-indent: 1,5cm;
}
p
#bal {
    width: 70%;
    float:left;
    overflow:hidden;
}
#jobb {
    width: 80%;
   margin: auto;
}
.piros {
border-right: 3mm double darkred;
}
.kek {
   border-bottom: 1cm;
   border-left: 1mm dashed blueviolet;
   border-bottom: 2mm dashed blue;
}
.span-kek {
font-family: Cambria ;
font-weight: bolder;
color: dodgerblue;
}
.span-piros {
    font-variant: small-caps;
    color: crimson;
}